# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\University\питон Диденко\BigDataLab1-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
